<div class="navbar">
  <a class="navbar-brand" routerLink="/">
    <img
      src="/assets/images/logo.png"
      alt="Ecommerce Shop Logo"
      width="90"
    />Sports Center
  </a>
  <ul class="nav">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><i class="fa fa-home"></i> Home</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/store" routerLinkActive="active"
        ><i class="fa fa-shopping-basket"></i> Store</a
      >
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i> Cart</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" href="#"><i class="fa fa-sign-out"></i> Logout</a>
    </li>
  </ul>
</div>
