.navbar {
  background-color: #f8f9fa;
  padding: 0rem;
  border-bottom: #333 1px solid;
  .navbar-brand {
    font-size: 1.5rem;
    color: #333;
  }
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .nav-item {
      display: inline-block;
      .nav-link {
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: #333;
        &:hover {
          color: #007bff;
        }
        &.active {
          color: #007bff;
          background-color: #f8f9fa; // add this or any other styles you want
        }
      }
    }
  }
}

.cart-no {
  position: sticky;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  padding-right: 5px;
  margin-left: 5px;
  font-size: 0.8em;
  background: rgba(184, 61, 4, 0.945);
  color: white;
  text-align: center;
  top: -12px;
  right: 32px;
}
